.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  margin-top: 4rem;
  border: none;
  border-radius: none;
  background-color: #fff;
  width: 4.5rem;
  height: 0.2rem;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 0.2rem;
  }
  &::before {
    transform: translateY(-1.3rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}
